<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= projectName %></title>
	<!-- build:css /stylesheets/styles.css -->
	<link rel="stylesheet" href="/_compiled/stylesheets/styles.css">
	<!-- endbuild -->
	<!-- build:js /javascripts/modernizr.js -->
	<script src="/bower_components/modernizr/modernizr.js"></script>
	<!-- endbuild -->
</head>
<body>
	<h1>Hello, welcome to <%= projectName %>!</h1>

	<script data-main="/_compiled/javascripts/main" src="/bower_components/requirejs/require.js"></script>
</body>
</html>